<div id="<%= dom_id project %>">
  <p class="my-3">
    <strong class="font-medium mb-1">Name:</strong>
    <%= project.name %>
  </p>
  <p class="my-3">
    <strong class="font-medium mb-1">Status:</strong>
    <%= project.status %>
  </p>
  <p class="my-3">
    <strong class="font-medium mb-1">Manager:</strong>
    <%= project.manager_user.email_address %>
  </p>
</div>
