<% content_for :title, "Projects" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Projects</h1>
    <% if Current.user.admin? %>
      <%= link_to "New project", new_project_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    <% end %>
  </div>

  <div id="projects" class="min-w-full">
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <%= link_to project do %>
          <div class="bg-gray-200 hover:bg-gray-300 px-3 py-0.5 rounded-md my-4">
            <%= render project %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No projects found. Ask your admin to assign you to projects.</p>
    <% end %>
  </div>
</div>
